@lost gutter 20px

body
  box-sizing border-box
  font-size font-size
  line-height 1.6
  font-family 'Fira Sans', sans-serif
  color text
  background-color base
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust 100%
  height 100vh

  // lost-utility edit


.page-content
  position relative
  background-color base
  z-index 1
  height 100%
  transition all 250ms ease-in-out

