section
  .measure.income
    label SAL
    input(type="text")
    include fire.html

  .measure.income
    label CGS
    input(type="text")

  .measure.income
    label GRI
    input(type="text")

  .measure.income
    label GRM
    input(type="text")

  .measure.income
    label RDE
    input(type="text")

  .measure.income
    label SGE
    input(type="text")

  .measure.income
    label TCE
    input(type="text")

  .measure.income
    label OPE
    input(type="text")

  .measure.income
    label DPA
    input(type="text")

  .measure.income
    label EBI
    input(type="text")
    include fire.html

  .measure.income
    label EBT
    input(type="text")
    include fire.html

  .measure.income
    label EBS
    input(type="text")

  .measure.income
    label PRE
    input(type="text")
    include fire.html

  .measure.income
    label PRR
    input(type="text")

  .measure.income
    label TXP
    input(type="text")

  .measure.income
    label TXR
    input(type="text")

  .measure.income
    label NET
    input(type="text")
    include fire.html

  .measure.income
    label NER
    input(type="text")

  .measure.income
    label EPS
    input(type="text")
    include fire.html

  .measure.income
    label GPS
    input(type="text")
    include fire.html
