.overlay
  .modal
    .close-btn ×
    .text-box
      .lead Hello
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas debitis, ipsa aliquid ipsum, quidem non, quae perferendis necessitatibus cum est voluptatum doloremque modi sapiente aspernatur amet libero nobis nesciunt corporis.
