.side-bar
  .side-bar-measure
    label NSO (avg)
    a(href="#").info ?
    input(type='text' id="NSOa")

  .side-bar-measure
    label NSO (end)
    a(href="#").info ?
    input(type='text' id="NSOe")

  .side-bar-measure
    label Adjustments
    a(href="#").info ?
    input(type='text' id="ADJ")

  .side-bar-measure
    label Currency (avg)
    a(href="#").info ?
    input(type='text' id="CURa")

  .side-bar-measure
    label Currency (end)
    a(href="#").info ?
    input(type='text' id="CURe")

  .side-bar-links
    ul
      li
        a(href="https://thehub.thomsonreuters.com/groups/ica-estimates-gdynia" target="blank") Policy
      li
        a(href="http://www.knowledge.reuters.com/RK/Pages/Public/Login.aspx?targetURL=%2fViews%2fHome%2fOverview%2fLatest.aspx" target="blank") Reuters Knowledge
      li
        a(href="http://10.136.145.72/Caliber/" target="blank") Caliber
      li
        a(href="https://www.streetevents.com/login.aspx" target="blank") Street Events
      li
        a(href="http://estimates.github.io/workout/" target="blank") Training Sheet
