.side-bar
  .side-bar-measure
    label NSO (avg)
    a(href="#").info ?
    input(type='text' id="NSOa")

  .side-bar-measure
    label NSO (end)
    a(href="#").info ?
    input(type='text' id="NSOe")

  .side-bar-measure
    label Adjustments
    a(href="#").info ?
    input(type='text' id="ADJ")

  .side-bar-measure
    label Currency (avg)
    a(href="#").info ?
    input(type='text' id="CURa")

  .side-bar-measure
    label Currency (end)
    a(href="#").info ?
    input(type='text' id="CURe")
